.container--one{
    // border: 1px solid;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 124px;

        .logo{
            // border: 1px solid;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            // border: 1px solid;
            position: relative;
            gap: 10px;

            .circle{
                width: 40px;
                height: 40px;       
                background-color: #4BA586;
                border-radius: 50%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                h2{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 40px;
                    letter-spacing: 0.5px;
                    
                    color: #FEFEFF;
                }
            }

            h3{
                width: 67px;
                height: 26px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 26px;
                /* identical to box height, or 108% */
                // border: 1px solid;
                letter-spacing: 0.5px;
                
                color: #4BA586;
            }
        }

        .menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: 50px;
            height: 50px;
            li{
                list-style: none;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;

                &:hover a{
                    color: #4BA586;
                    // transition: 10.52s;
                }

                &:hover span{
                    color: #4BA586;
                    transition: 10.52s;
                    display: block;
                }
                a{
                    text-decoration: none;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.5px;
                    color: #8E8E8E;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                }
                span{
                    // border: 1px solid;
                    display: none;
                    .circle-a{
                        font-size: 10px;
                    }
                }
            }
        }

        .register-form{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .signIn{
                text-decoration: none;
                width: 55px;
                height: 24px;
                
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.0025em;
                
                color: #69B99D;
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            
            .logIn{
                text-decoration: none;
                width: 139px;
                height: 55px;
                background-color: #69B99D;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 55px;
                letter-spacing: 0.0025em;
                color: #FFFFFF;
                text-align: center;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
    }
}