.container--one {
  background-color: #F5f5f5;
  height: 806px;
}
.container--one nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 124px;
  z-index: 1;
}
.container--one nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  gap: 10px;
}
.container--one nav .logo .circle {
  width: 40px;
  height: 40px;
  background-color: #4BA586;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container--one nav .logo .circle h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #FEFEFF;
}
.container--one nav .logo h3 {
  width: 67px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 0.5px;
  color: #4BA586;
}
.container--one nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  z-index: 1;
  height: 50px;
}
.container--one nav .menu li {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.container--one nav .menu li:hover a {
  color: #4BA586;
}
.container--one nav .menu li:hover span {
  color: #4BA586;
  transition: 10.52s;
  display: block;
}
.container--one nav .menu li a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #8E8E8E;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.container--one nav .menu li span {
  display: none;
}
.container--one nav .menu li span .circle-a {
  font-size: 10px;
}
.container--one nav .register-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.container--one nav .register-form .signIn {
  text-decoration: none;
  width: 55px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #69B99D;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--one nav .register-form .logIn {
  text-decoration: none;
  width: 139px;
  height: 55px;
  background-color: #69B99D;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 55px;
  letter-spacing: 0.0025em;
  color: #FFFFFF;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--one .main-box {
  display: flex;
  flex-direction: row;
}
.container--one .main-box .left-box {
  display: flex;
  padding: 30px 124px;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
.container--one .main-box .left-box .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 162px;
  height: 50px;
  background-color: #F8F9FE;
}
.container--one .main-box .left-box .title h3 {
  width: 114px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  letter-spacing: 0.5px;
  color: #69B99D;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--one .main-box .left-box h1 {
  width: 605px;
  height: 148px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.container--one .main-box .left-box p {
  width: 502px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.0025em;
  color: #73788C;
}
.container--one .main-box .left-box .search-box {
  display: flex;
  flex-direction: column;
}
.container--one .main-box .left-box .search-box .buy-rent-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.container--one .main-box .left-box .search-box .buy-rent-box .buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  width: 109px;
  height: 56px;
}
.container--one .main-box .left-box .search-box .buy-rent-box .buy:hover {
  background-color: #FFFFFF;
  transition: 0.5s;
}
.container--one .main-box .left-box .search-box .buy-rent-box .buy h3 {
  width: 45px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--one .main-box .left-box .search-box .buy-rent-box .buy h3:hover {
  color: #4BA586;
  transition: 0.5s;
}
.container--one .main-box .left-box .search-box .buy-rent-box .rent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  width: 119px;
  height: 56px;
  background-color: #F5F5F5;
}
.container--one .main-box .left-box .search-box .buy-rent-box .rent:hover {
  background-color: #FFFFFF;
  transition: 0.5s;
}
.container--one .main-box .left-box .search-box .buy-rent-box .rent h3 {
  width: 55px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--one .main-box .left-box .search-box .buy-rent-box .rent h3:hover {
  color: #4BA586;
  transition: 0.5s;
}
.container--one .main-box .left-box .search-box .location-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 751px;
  height: 124px;
  background-color: #FEFEFF;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.container--one .main-box .left-box .search-box .location-box .location {
  display: flex;
  flex-direction: column;
}
.container--one .main-box .left-box .search-box .location-box .location h3 {
  width: 77px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  letter-spacing: 0.0025em;
  /* Tittle */
  color: #1F2744;
}
.container--one .main-box .left-box .search-box .location-box .location .location-inside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.container--one .main-box .left-box .search-box .location-box .location .location-inside h3 {
  width: 165px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.container--one .main-box .left-box .search-box .location-box .location .location-inside a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.container--one .main-box .left-box .search-box .location-box .type {
  display: flex;
  flex-direction: column;
}
.container--one .main-box .left-box .search-box .location-box .type h3 {
  width: 44px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.container--one .main-box .left-box .search-box .location-box .type .type-inside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.container--one .main-box .left-box .search-box .location-box .type .type-inside h3 {
  width: 54px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.container--one .main-box .left-box .search-box .location-box .type .type-inside a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.container--one .main-box .left-box .search-box .location-box .price-range {
  display: flex;
  flex-direction: column;
}
.container--one .main-box .left-box .search-box .location-box .price-range h3 {
  width: 107px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.container--one .main-box .left-box .search-box .location-box .price-range .price-range-inside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.container--one .main-box .left-box .search-box .location-box .price-range .price-range-inside h3 {
  width: 99px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.container--one .main-box .left-box .search-box .location-box .price-range .price-range-inside a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.container--one .main-box .left-box .search-box .location-box .search-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 48px;
  gap: 8px;
  width: 153px;
  height: 60px;
  cursor: pointer;
  background-color: #69B99D;
  box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.32);
}
.container--one .main-box .left-box .search-box .location-box .search-btn button {
  background-color: #69B99D;
  border: none;
  width: 57px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.0025em;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--one .main-box .right-box {
  position: relative;
  width: 807px;
  z-index: 0;
  height: 761px;
}
.container--one .main-box .right-box img {
  position: absolute;
  width: 806px;
  height: 761px;
  bottom: 120px;
  right: 0px;
  bottom: 82px;
  mix-blend-mode: normal;
  z-index: 0;
}

.container--two {
  display: flex;
  flex-direction: column;
  padding: 124px;
  gap: 10px;
}
.container--two .discover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 142px;
  height: 50px;
  background-color: #F8F9FE;
}
.container--two .discover h3 {
  width: 94px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #69B99D;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--two h1 {
  width: 490px;
  height: 56px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.container--two .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container--two .text p {
  width: 492px;
  height: 52px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #73788C;
}
.container--two .text span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--two .text span a {
  width: 130px;
  height: 26px;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69B99D;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--two .main-img-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.container--two .main-img-box .box-img {
  box-sizing: border-box;
  width: 376px;
  height: 472px;
  background-color: #FEFEFF;
  border: 1px solid #DEDCDA;
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 5px;
}
.container--two .main-img-box .box-img img {
  width: 344px;
  height: 238px;
}
.container--two .main-img-box .box-img h3 {
  width: 212px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.container--two .main-img-box .box-img h4 {
  width: 146px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.container--two .main-img-box .box-img .text-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.container--two .main-img-box .box-img .text-price h3 {
  width: 98px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #69B99D;
}
.container--two .main-img-box .box-img .text-price .livingArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  width: 159px;
  height: 32px;
  background-color: #F5F5F5;
}
.container--two .main-img-box .box-img .text-price .livingArea h4 {
  width: 145px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.0025em;
  color: #1F2744;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--two .main-img-box .box-img .text-price .livingArea h4 .grey {
  color: grey;
}
.container--two .main-img-box .box-img .btn-send {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 344px;
  height: 48px;
  background-color: #FEFEFF;
  border: 1px solid #69B99D;
}
.container--two .main-img-box .box-img .btn-send:active {
  background-color: #69B99D;
  box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}
.container--two .main-img-box .box-img .btn-send:active a {
  color: white;
}
.container--two .main-img-box .box-img .btn-send a {
  text-decoration: none;
  width: 101px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #69B99D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container--three {
  background-color: #F5F5F5;
  height: 954px;
  width: 100%;
  padding: 50px 140px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container--three .our-advante {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 179px;
  height: 50px;
  background: #F8F9FE;
}
.container--three .our-advante h3 {
  width: 131px;
  height: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #69B99D;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.container--three h1 {
  width: 436px;
  height: 112px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.container--three .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-self: center;
  gap: 32px;
  padding-bottom: 50px;
}
.container--three .grid .grid-item {
  width: 376px;
  height: 268px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container--three .grid .grid-item a {
  font-size: 50px;
  color: #69B99D;
}
.container--three .grid .grid-item h2 {
  height: 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height, or 136% */
  letter-spacing: 0.5px;
  color: #054457;
}
.container--three .grid .grid-item p {
  width: 336px;
  height: 104px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.5px;
  color: #73788C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.main--container {
  max-width: 1440px;
  margin: auto;
  box-shadow: 0px 0px 2px gray;
}/*# sourceMappingURL=style.css.map */