@import './other-styles/firstPart';
@import './other-styles/secondPart';
@import './other-styles/thirdPart';
@import './other-styles/fourthPart';
@import './other-styles/footer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

